.skill_title{
    font-family: 'Inter', sans-serif;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.skill_description{
    margin: 0 50px;
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
.skill_list{
    width: 100%;

}
.skill_item{
    font-family: 'Inter', sans-serif;
    color: #F0F0F0;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    position: relative;
    margin-bottom: 50px;
}
.skill_item::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #979797;
}
.skill_item::after{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 15px;
    background-color: #b42929;
}

/* .progres-bar{
    width: 700px;
    margin: 20px auto 0;
    padding: 10px;
}
.progres-bar li{
    margin: 100px 0;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.progres-bar li::before{
    position: absolute;
    content: '';
    top: calc(100% + 10px);
    left: 0;

    width: 100%;
    height: 25px;
    background-color: chartreuse;
}
.progres-bar li::after{
    position: absolute;
    content: '';
    top: calc(100% + 10px);
    left: 0;

    width: 0%;
    height: 25px;
    background-color: rgb(132, 143, 122);
    

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-direction: forward;
}
.progres-bar li.at::after{
    animation-name: at;
}
@keyframes at {
    to{
        width: 95%;
        background-color: blueviolet;
    }
} */
