#contact{
    margin: 0 50px;
}
.contacts{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.contact_form{
    width: 500px;
}
.inputField{
    display: block;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
    background: transparent;
    border: 1px solid #979797;
    outline: none;
    transition: 0.3s;
    
}
.inputField:focus{
    border: 1px solid #ffbd39;
    background-color: rgba(255, 255, 255, 0.1);
}
#areaField{
    resize: none;
}
.sandBtn{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    color: #262626;
    background-color: #ffbd39;
    margin-top: 20px;
}
.sandBtn:hover{
    background-color: #262626;
    color: #ffbd39;
}

.contact_icon{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.email_wrapper{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 80px;
    width: 100px;
    position: relative;
}
.email{
    background-color: rgb(255, 165, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}
.email_icon{
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffbd39;
}
.email h3{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #ffbd39;
    margin: 20px 0 8px;
}
.email h5{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffbd39;
}